<html>

<head>
    <script src="socket.io/socket.io.js"></script>
    <script src="modules/mediasoupclient.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.2.8/EventEmitter.min.js"></script>
    <script src="RoomClient.js"></script>
    <script src="src/app.js"></script>
    <style>
        .containers {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: repeat(auto-fit, 1fr);
            grid-template-rows: repeat(auto-fit, 300px);
        }

        .container {
            display: flex;
        }

        .vid {
            flex: 0 1 auto;
            height: 400px;
        }

        .settings {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 2px 2px;
            cursor: pointer;
        }

        .hidden {
            display: none
        }
        .signinbtn {
            position: absolute;
            size: 300px;
            top: 10px;
            right: 10px;
        }
        .RoomNameList {
          
            display: inline-grid;
            grid-auto-columns: 500px;
            grid-auto-rows: 300px;
           
            grid-gap: 20px 50px;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<script>
    function changeValue(o){
      document.getElementById('roomidInput').value=o.innerHTML;
     }
 </script>

<body>
    <form class="container" method="post">
     
    <div id="login">
      
        Room:   <input class="form-control" name="title" id="roomidInput" value="Enter Room Name" type="text" />
        <!--<button id="createRoom" onclick="createRoom(roomid.value)" label="createRoom">Create Room</button>-->
        <br />
        User: <input id='nameInput' value="YourName" type="text" />
        <button id='joinButton' onclick="joinRoom(nameInput.value, roomidInput.value)">Join</button>

    </div>
</form>

    <html>
<body>








    <div id="control" class="hidden">
        <button id='exitButton' class='hidden' onclick="rc.exit()">Exit</button>
        <br/>
        audio: <select id="audioSelect">
        </select>
        <br/>
        video: <select id="videoSelect">
        </select>
        <br />
        <button id='startAudioButton' class='hidden' onclick="rc.produce(RoomClient.mediaType.audio, audioSelect.value)">audio</button>
        <button id='stopAudioButton' class='hidden' onclick="rc.closeProducer(RoomClient.mediaType.audio)">close
            audio</button>
        <button id='startVideoButton' class='hidden' onclick="rc.produce(RoomClient.mediaType.video, videoSelect.value)">video</button>
        <button id='stopVideoButton' class='hidden' onclick="rc.closeProducer(RoomClient.mediaType.video)">close
            video</button>
        <button id='startScreenButton' class='hidden' onclick="rc.produce(RoomClient.mediaType.screen)">screen</button>
        <button id='stopScreenButton' class='hidden' onclick="rc.closeProducer(RoomClient.mediaType.screen)">close
            screen</button>
        <br />
    </div>




    <div id='videoMedia' class='hidden'>
        <h2>------local------</h2>
        <div id="localMedia"></div>
        <!--<video id="localVideo" autoplay inline class="vid"></video>-->
        <!--<video id="localScreen" autoplay inline class="vid"></video>-->
        <h2>-----remote-----</h2>
        <div id="remoteVideos" class="container">
        </div>

        <div id="remoteAudios"></div>

    </div>
</body>

<!-- List all array items, with keys and values -->
<html lang="en">


<body>
  

    <html>
        <body>
        
        <h2>Jitter Rooms: Click to join</h2>
        

    
        </body>
        </html>

</body>
</html>
 <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        </head>
        <body>
            
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                <%roomidList.forEach(roomid => {%>
                   
                        
                    <tr>
                       
                        
                        <% var relevantRoom = roomid.roomid  %> 

                        <!-- <script> relevantRoom.slice(1, -1)</script> -->
                        
                        <!-- <form class="container" method="post"> -->
                            <!-- <!-- <div id="login">
                                 -->
                                <h2 class='RoomNameList' type="text" value= "123">
                                 
                            

                                <button class='joinButton' onclick="changeValue(this),joinRoom(nameInput.value, roomidInput.value)"><%= relevantRoom %></button>
                            </div>
                        </form>
                    </tr>
                <%})%>
                </tbody>    
              </table>
        </body>
        </html>

        <div>
            <a class="signinbtn" href='/signin'><button>Signin</button></a>
        </div>
<footer>
    <script src="index.js"></script>
    
</footer>

</html>

